html,a{color:#000;}
html{background:#fff;height:100%;}
body{font-family:"Raleway",serif;font-size:13pt;margin:1em;}
header,main,footer{display:block;margin:0 auto;max-width:800px;}
header{padding:20px 0;text-align:center;}
header h1{font-size:130%;margin:0;}
header span{background:url("images/perpro.png") no-repeat transparent;background-size:contain;background-position:center;display:block;height:79px;margin:0 auto;max-width:100%;width:780px;}
span noscript{visibility:hidden;}
h1,h2,h3{font-variant-caps:small-caps;}
section p{text-align:justify;}
p img{border:1px dashed #000;display:block;margin:1em auto;max-width:100%;padding:1ex;}
article > div{display:block;}
#logo{border-radius:20%;box-shadow:0 1px 3px 0 rgba(60,64,67,.3),0 4px 8px 3px rgba(60,64,67,.15);overflow:hidden;vertical-align:middle;}
#logo,#logo img{height:40px;width:40px;}
.title{margin:-40px 0 0 60px;vertical-align:middle;}
.title h2{margin:0;}
.title img{vertical-align:middle;}
.title ul{list-style:none;padding:0;}
.title ul li+li{padding:1ex 0 0 0;}
#gp{display:inline-block;height:44px;width:144px;}
footer{padding:10px 0;}
footer span{background:url("images/qubes.png") no-repeat transparent;background-size:contain;display:block;height:25px;margin:0 auto;width:80px;}
header,main,footer{margin:0 auto;max-width:800px;}
@media only screen and (min-width:960px){
  body{margin:1em 0;}
  header h1{font-size:200%;}
  article > div{display:inline-block;}
  p img{padding:1em;}
  #logo{margin:10px 0;}
  #logo,#logo img{height:180px;width:180px;}
  .title{margin:0 0 0 2em;}
  .title h2{margin:1ex 0;}
  .title ul li{display:inline;}
  .title ul li+li{padding:0 0 0 1em;}
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5){
  header span{background-image:url("images/perpro@2x.png");}
  footer span{background-image:url("images/qubes@2x.png");}
  #gp{background-image:url("images/googleplay@2x.png");background-size:contain;box-sizing:border-box;padding-left:144px;}
  @media only screen and (min-width:800px){
    #logo img{background-image:url("images/utmp_basic@2x.png");background-size:contain;box-sizing:border-box;padding-left:180px;}
  }
}
@media print{
  header span,footer{display:none;}
}